/* GENERAL */
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #0d0d0d;
    color: white;
}

h1, h2, h3 {
    margin: 0;
}

a {
    color: #4da6ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* HEADER */
header {
    text-align: center;
    padding: 50px 20px;
    background: #111;
    border-bottom: 1px solid #222;
}

header h1 {
    font-size: 3rem;
}

header p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: #ccc;
}

nav a {
    margin: 0 15px;
    font-size: 1rem;
    color: #4da6ff;
}

/* SECTIONS */
section {
    padding: 50px 20px;
    max-width: 900px;
    margin: auto;
}

h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

/* SKILLS */
.skills-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
}

.skills-grid span {
    background: #1a1a1a;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    border: 1px solid #333;
}

/* PROJECT CARDS */
.project-card {
    background: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #333;
    margin-bottom: 20px;
}

.project-card h3 {
    margin-bottom: 10px;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}

/* FOOTER */
footer {
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background: #111;
    border-top: 1px solid #222;
}
